* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Table Container Styles */
#table-container {
    width: 75vw; /* Set to 75% of the viewport width */
    max-width: 100%; /* Ensure table does not exceed container */
    height: 50vh;
    overflow-x: auto;
    overflow-y: auto;
    margin: 20px auto; /* Center the container horizontally */
    display: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1);
}

#table-container::-webkit-scrollbar {
    width: 10px;
}

#table-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

#table-container::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.1);
}

/* Buttons Styles */
#add-rows-button,
#save-button,
#update-button,
#string-output,
#json-string-container {
    display: none;
}

/* Table Styles */
table.composition {
    border-spacing: 0;
    width: 100%;
}

table.composition th,
table.composition td.identifier-cell {
    font-family: Arial, sans-serif;
    text-align: center;
}

table.composition td {
    border-right: 1px solid lightgray;
    width: 50px; /* Set a fixed width for each cell */
    height: 50px; /* Set a fixed height for each cell */
    text-align: center;
    font-family: "ome_bhatkhande_hindi";
}

table.composition td > code {
    white-space: pre;
    font-family: "ome_bhatkhande_hindi";
}

table.composition td > code > input {
    white-space: pre;
    font-family: "ome_bhatkhande_hindi";
    width: 100%;
    height: 100%; /* Make the input fill the cell */
    border: none;
    outline: none;
    text-align: center;
}

table.composition td.bold-right-border {
    border-right: 3px solid black;
}

table.composition td.bold-bottom-border,
table.composition tr.bold-bottom-border td {
    border-bottom: 1px solid gray;
}

/* Highlighted Cell Styles */
.highlighted {
    background-color: white;
    /* box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.05), 
        0 2px 4px rgba(0, 0, 0, 0.07), 
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.12),
        0 16px 32px rgba(0, 0, 0, 0.15); */
    border: lightskyblue 2px solid;
    border-radius: 10px;
}

/* Preview Input Box Styles */
#preview-inputbox {
    font-family: "ome_bhatkhande_hindi";
    padding: 20px 0;
    width: 100%;
    height: 2rem;
    font-size: 1em;
    margin: 10px 0;
}

/* Keyboard Container Styles */
.keyboard-container {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1), 
        0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Key Layout Styles */
.keylayout {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.key {
    width: 100%;
    min-width: 3rem;
    min-height: 2rem;
    font-size: 1em;
    font-family: "ome_bhatkhande_hindi";
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.1), 
        0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Specific Key Styles */
.l-key,
.L-key,
.u-key,
.U-key {
    transform: translateX(0.3rem);
}

.chhand-key {
    transform: translateX(-0.75rem);
}

.SPchhand-key {
    transform: translateX(-0.9rem);
    font-size: small;
}

/* Enter and Shift Key Styles */
#enter-key,
#shift-key {
    font-family: Arial, Helvetica, sans-serif !important;
}

/* User Input Styles */
.userInput {
    width: 100%;
    /* margin: 5rem auto; */
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1);
        
}

.userInput .form-label {
    display: block;
    margin-bottom: 0.5rem;
}


.userInput .form-select {
    margin-bottom: 1rem;
}
#update-button{
    margin-left: auto;
}

#backButton svg{
    width: auto;
    height: 30px;
}
#load-table-button svg{
    width: 15px;
    height: 15px;
}
.profile{
    margin-left: 20px;
    justify-content: center;
    width: 55px;
    height: 55px;

}
